html {
    background-color: #00291f;
    background: url('Twilight.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the entire screen */
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

.title {
    color: white;
    font-size: 3rem; /* Use font-size to increase text size */
    text-align: center;
    margin-bottom: 0px;
}

.links {
    color: rgb(192, 212, 255);
    text-decoration: none; /* Disables underlines for links */
}
